<% title "Menu" %>

<p>
  <strong>Item:</strong>
  <%= @menu.item %>
</p>
<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <%= link_to "Edit", edit_menu_path(@menu) %> |
  <%= link_to "Destroy", @menu, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", supplier_menus_path %>
</p>
